{mode, max}.

{duration, 2}.

{concurrent, 16}.

{operations, [{put, 1}]}.

{driver, basho_bench_driver_riakclient}.

{code_paths, ["/riak_kv", "/riak_core"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 500000}}}.

{value_generator, {fixed_bin, 10000}}.

{riakclient_nodes, ['riak@127.0.0.1']}.

{riakclient_mynode, ['basho_bench@127.0.0.1', longnames]}.

{riakclient_replies, 1}.
