{mode, max}.

{duration, 10}.

{concurrent, 16}.

{operations, [{local, 10}, {distributed, 1}]}.

{operations_per_transaction, [{put, 1}, {update, 2}, {get, 10}]}.

{contention, 1}.

{driver, basho_bench_driver_riak_kv_transactional_client}.

{code_paths, ["/riak_kv", "/riak_core"]}.

{n_keys, 100000}.

{n_nodes_per_worker, 2}.

{key_generator, {function, basho_bench_riak_kv_transactional_client_keygen, function, []}}.

{value_generator, {fixed_bin, 1000}}.

{riakclient_nodes, ['riak@127.0.0.1']}.

{basho_bench_node, ['basho_bench@127.0.0.1']}.
